
## Mohamed Diaa Abdelaal 43-12821



Online Payments Fraud Detection Dataset

Requirements:

- Divide dataset after importing into Train/Cross Validation/Test

- Test various hypothesis with different degrees and optimize your model and parameters using cross validation & test sets as explained in the lecture

- Apply K-Fold & Stratified Sampling techniques

- Apply Regularization and optimize the value of its parameter

In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, mean_squared_error, classification_report
from sklearn.model_selection import learning_curve

from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold

from statistics import mean, stdev
from sklearn import preprocessing
from sklearn.model_selection import StratifiedKFold
from sklearn import linear_model
from sklearn import datasets

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold

import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('Online Payments Fraud Detection Dataset.csv')

In [3]:
data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [5]:
data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [20]:
X = data.drop('isFraud', axis=1)
y = data['isFraud']

In [21]:
scaler = MinMaxScaler()
scaler.fit(X)
X = scaler.transform(X)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=101)
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, 
    test_size=0.25,random_state=101)

In [23]:
CLF = LogisticRegression(penalty= 'none',random_state = 0)
CLF.fit(X_train, y_train)

LogisticRegression(penalty='none', random_state=0)

In [24]:
y_pred_valid = CLF.predict(X_valid)

Evaluate our model

In [25]:
[tn, fp, fn, tp]= confusion_matrix(y_valid, y_pred_valid).ravel()
 
print ("Confusion Matrix : \n", tn, fp, fn, tp )

Confusion Matrix :
 1270782 81 949 712

In [26]:
def cost_function_j(y_pred,y):
    m = y.shape[0]
    return (1/(2*m))*np.sum((y_pred-y)**2)

In [28]:
print(cost_function_j(y_valid, y_pred_valid))
print(cost_function_j(y_test, CLF.predict(X_test)))

0.0004047074947112982
0.0004019570554268525

In [29]:
print ("Accuracy : ", accuracy_score(y_valid, y_pred_valid))
print ("Accuracy : ", accuracy_score(y_test, CLF.predict(X_test)))

Accuracy :  0.9991905850105774
Accuracy :  0.9991960858891463

In [30]:
print(classification_report(y_valid,y_pred_valid))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00   1270863
           1       0.90      0.43      0.58      1661

    accuracy                           1.00   1272524
   macro avg       0.95      0.71      0.79   1272524
weighted avg       1.00      1.00      1.00   1272524

In [43]:
print(recall_score(y_valid,y_pred_valid))

0.4286574352799518

In [100]:
print(classification_report(y_test,CLF.predict(X_test)))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00   1270897
           1       0.93      0.40      0.56      1627

    accuracy                           1.00   1272524
   macro avg       0.96      0.70      0.78   1272524
weighted avg       1.00      1.00      1.00   1272524

- L1 is for  Lasso Regression 
- L2 is for  Ridge Regression.

Regularization

In [50]:

model = LogisticRegression(penalty="l2")
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
grid = dict()
grid['C'] = [0.001,0.01,0.1,1,5,10,100]
search = GridSearchCV(model, grid, scoring='recall', cv=cv, n_jobs=-1)
results = search.fit(X, y)
print('MAE: %.3f' % results.best_score_)
print('Config: %s' % results.best_params_)

MAE: 0.370
Config: {'C': 100}

In [105]:

model = LogisticRegression(penalty="l1",solver='saga')
cv = RepeatedKFold(n_splits=4, n_repeats=1, random_state=1)
grid = dict()
grid['C'] = [0.001,0.01,0.1,1,5,10,100]
search = GridSearchCV(model, grid, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
results = search.fit(X, y)
print('MAE: %.3f' % results.best_score_)
print('Config: %s' % results.best_params_)

MAE: -0.001
Config: {'C': 100}

Apply K-Fold & Stratified Sampling techniques

1. stratified k-fold

In [34]:
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=1)
lst_accu_stratified = []
lr = LogisticRegression(C=100)
scaler = MinMaxScaler()
scaler.fit(X)
x_scaled = scaler.transform(X)

for train_index, test_index in skf.split(X, y):
    x_train_fold, x_test_fold = x_scaled[train_index], x_scaled[test_index]
    y_train_fold, y_test_fold = y[train_index], y[test_index]
    lr.fit(x_train_fold, y_train_fold)
    lst_accu_stratified.append(lr.score(x_test_fold, y_test_fold))

In [35]:
print('List of possible accuracy:', lst_accu_stratified)
print('\nMaximum Accuracy That can be obtained from this model is:',
      np.max(lst_accu_stratified)*100, '%')
print('\nMinimum Accuracy:',
      np.min(lst_accu_stratified)*100, '%')
print('\nOverall Accuracy:',
      mean(lst_accu_stratified)*100, '%')
print('\nStandard Deviation is:', stdev(lst_accu_stratified))

List of possible accuracy: [0.9989925533820974, 0.9989909817025062, 0.9990365604106485, 0.9990318453718751, 0.9989941250616884, 0.9990129852167817, 0.9990334170514662, 0.9989941250616884, 0.9990255586535106, 0.9990287020126929]

Maximum Accuracy That can be obtained from this model is: 99.90365604106485 %

Minimum Accuracy: 99.89909817025062 %

Overall Accuracy: 99.90140853924956 %

Standard Deviation is: 1.9249778101984054e-05

2. Normal k-fold

In [36]:

cv = KFold(n_splits=20, shuffle=True, random_state=0)
model = lr
scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1)
print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Accuracy: 0.999 (0.000)

3. Stratified Sampling Using Proportions and counts

In [37]:
data.groupby('isFraud', group_keys=False).apply(lambda x: x.sample(int(np.rint(N*len(x)/len(data))))).sample(frac=1).reset_index(drop=True)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,279,3,12839.66,2488915,111738.98,98899.32,1552586,0.00,0.00,0,0
1,275,1,3282.74,4100943,0.00,0.00,291917,1657748.28,1661031.02,0,0
2,353,3,27644.19,4018642,39973.00,12328.81,1694895,0.00,0.00,0,0
3,19,3,6193.26,6252651,35779.31,29586.04,1635829,0.00,0.00,0,0
4,161,3,10248.73,4110732,0.00,0.00,627425,0.00,0.00,0,0
5,17,1,137793.94,4438960,0.00,0.00,444316,200319.10,463368.38,0,0
6,164,3,3598.64,3816467,949.00,0.00,1898938,0.00,0.00,0,0
7,163,1,28484.24,3817212,880.00,0.00,370834,0.00,28484.24,0,0
8,420,3,21532.16,5580107,20438.00,0.00,1795612,0.00,0.00,0,0
9,401,1,200300.52,2522482,540998.00,340697.48,130815,474684.37,674984.89,0,0
10,354,1,161643.65,13040,0.00,0.00,481784,1180047.49,1341691.13,0,0
11,44,0,280037.74,4855562,258812.00,538849.74,59183,0.00,0.00,0,0
12,226,1,221783.38,38316,20211.00,0.00,353011,1947023.72,2168807.09,0,0
13,276,3,347.54,4442506,1394.00,1046.46,2386851,0.00,0.00,0,0
14,346,1,93812.17,5001720,94838.00,1025.83,360902,361279.47,455091.63,0,0
15,378,3,14295.94,5122206,19922.00,5626.06,1066969,0.00,0.00,0,0
16,548,3,2743.29,5023570,260337.00,257593.71,2552844,0.00,0.00,0,0
17,401,3,5843.03,3187856,0.00,0.00,1073026,0.00,0.00,0,0
18,373,1,252774.69,2886475,0.00,0.00,365695,2282658.55,2535433.24,0,0
19,212,1,64076.35,2359182,10634.00,0.00,296393,47632.02,111708.37,0,0

In [38]:
data.groupby('isFraud', group_keys=False).apply(lambda x: x.sample(3))

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
4812449,346,1,58929.20,3041849,4488.00,0.00,222054,3624900.98,3683830.18,0,0
3375326,254,1,37261.20,4913595,0.00,0.00,285511,418633.43,455894.62,0,0
2134782,184,3,26951.71,3806896,402823.00,375871.29,1358781,0.00,0.00,0,0
2112305,183,4,627903.12,623140,627903.12,0.00,214894,0.00,0.00,1,0
4863913,348,4,291264.20,2943898,291264.20,0.00,535601,0.00,0.00,1,0
3611350,273,1,159106.12,1195330,159106.12,0.00,372185,0.00,159106.12,1,0